<div class="col-lg-4">
  <div class="card m-1">
    <div class="card-body">
      <img class="card-img-top" alt="Image of <%=post.title%>" src="<%=post.image%>"/>
      <h5 class="card-title"><%=link_to post.title, post_path(post) %></h5>
      <p><%= button_to 'Like', post_likes_path(post), method: :post %> | <%= pluralize(post.likes.count, 'Like')%> </p>
      <p class="card-text"><%= truncate(post.description, length: 200, separator: ' ')%> <br> <%= link_to "Read More", post_path(post)%></p>
    </div>
  </div>
</div>
