<!DOCTYPE html>
<html>
  <head>
    <title>Spacestagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Spacestagram!</a>
          <div class="" id="navbarNavDropdown">
            <div id="user-info">
              <% if current_user %>
                <%= link_to current_user.email, edit_user_registration_url %> | <%= link_to "Sign out", '/users/sign_out', :method => :delete %>
              <% else %>
                <%= link_to "Sign up", '/users/sign_up' %> | <%= link_to "Sign in", '/users/sign_in'%>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
       <%if flash[:alert] %>
          <div class="alert alert-danger mt-3" role="alert">
            <%= flash[:alert] %>
          </div>
        <%end%>
        <%if flash[:notice] %>
          <div class="alert alert-success mt-3" role="alert">
            <%= flash[:notice] %>
          </div>
        <%end%>
      <%= yield %>
    </div>
  </body>
</html>
